.movie-poster {
    border-radius: 16px;
}

.loading {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    color: #666;
}

.backToHomeLink {
    display: inline;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 8px 12px;
    background-color: #0493bb;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.backToHomeLink:hover {
    background-color: #0442fd;
    color: rgb(255, 255, 255);
}


.div {
    padding: 30px;
    margin-right: auto;
}