/* MovieDetails.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 32px;
    margin: 10px 0;
    color: #333;
}

.poster {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin: 20px 0;
}

section h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

p {
    margin: 10px 0;
    font-size: 18px;
    color: #666;
}

.loading {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    color: #666;
}

/* ============================================================ */
/* MovieDetails.module.css */

/* Стилі для кнопки "Back to Home" */
.backToHomeLink {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    /* Додайте відступ знизу */
    padding: 8px 16px;
    background-color: #02e15f;
    /* Колір фону */
    color: #fff;
    /* Колір тексту */
    text-decoration: none;
    /* Видаліть підкреслення */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.backToHomeLink:hover {
    background-color: #ce8a03;
    /* Зміна кольору при наведенні */
}


.div {
    padding: 30px;
}