.castList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.castItem {
    text-align: center;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 6px;
}

.actorPhoto {
    max-width: 250px;
    border-radius: 6px;
}

.actorName {
    font-weight: bold;
}

.characterName {
    font-style: italic;
}

.clickableHeader {
    color: rgb(51, 52, 52);
}

.clickableHeader:hover {
    color: #0b0b0b;
    cursor: pointer;
}